/* ------------- Layouts ---------------------- */

.section {
  display: flex;
  padding: 5rem;
  width: 100%;
  transition: all 0.2s;
  opacity: 1;
  @include respond(SamsungGalaxyTab2) {
    padding: 1rem;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(3rem);
}
.document--container {
  margin-top: 0 !important;
  margin: 0 auto;
  max-width: 210rem;
  overflow: hidden;
  background-color: var(--tertiary-color);
  border: 1px solid rgba(97, 92, 92, 0.397);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__impressum {
    border: 1px solid rgba(97, 92, 92, 0.397);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 auto;
    max-width: 210rem;
    overflow: hidden;
    background-color: var(--tertiary-color);
  }
}
