/* ----------------------- Media Queries --------------------------------- */

/*
0-256px:      Iphone 5
256-360px     Samsung Galaxy S8
360px-375px:  IPhone SE
375-414px     Iphone 8
414-428px     IPhone 12

428-480px     AmazonKindle7
480-600px     Samsung Galaxy Tab 2
600-720px     Microsoft Surface Pro
720-800px     Samsung Galaxy Tab 3
800-820px     IPadAir
820-960px     tab-port
960-1024px    IPad Pro 12

1024-1200px   tab-land-small
1200-1280px   MacBook13
1280-1440px   MacBookAir

1440-1760px   pc-small
1760-1920px   pc-medium
1760-2560px   iMac27
*/

@mixin respond($breakpoint) {
  // Smartphones

  @if $breakpoint == IphonMiniXs {
    @media only screen and (max-width: 6.6em) {
      @content;
    }
  }
  @if $breakpoint == IphonMini {
    @media only screen and (max-width: 17em) {
      @content;
    }
  }
  @if $breakpoint == IPhone5 {
    @media only screen and (max-width: 20em) {
      @content;
    }
  }

  @if $breakpoint == SamsungS8 {
    @media only screen and (max-width: 22.5em) {
      @content;
    }
  }

  @if $breakpoint == IPhoneSE {
    @media only screen and (max-width: 23.5em) {
      @content;
    }
  }

  @if $breakpoint == IPhone8 {
    @media only screen and (max-width: 25.875em) {
      @content;
    }
  }

  @if $breakpoint == IPhone12 {
    @media only screen and (max-width: 26.75em) {
      @content;
    }
  }

  // Tablets

  @if $breakpoint == AmazonKindle7 {
    @media only screen and (max-width: 30em) {
      @content;
    }
  }
  @if $breakpoint == AmazonKindle8 {
    @media only screen and (max-width: 31em) {
      @content;
    }
  }

  @if $breakpoint == SamsungGalaxyTab2 {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port-small {
    @media only screen and (max-width: 40em) {
      @content;
    }
  }
  @if $breakpoint == MicrosoftSurface {
    @media only screen and (max-width: 45em) {
      @content;
    }
  }

  @if $breakpoint == SamsungGalaxyTab3 {
    @media only screen and (max-width: 50em) {
      @content;
    }
  }

  @if $breakpoint == IPadAir {
    @media only screen and (max-width: 51.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 60em) {
      @content;
    }
  }

  @if $breakpoint == IpadPro12 {
    @media only screen and (max-width: 64em) {
      @content;
    }
  }

  //Laptop

  @if $breakpoint == tab-land-small {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == MacBook13 {
    @media only screen and (max-width: 80em) {
      @content;
    }
  }

  @if $breakpoint == MacBookAir {
    @media only screen and (max-width: 100em) {
      @content;
    }
  }

  //PC

  @if $breakpoint == pc-small {
    @media only screen and (max-width: 110em) {
      @content;
    }
  }
}
