/* ------------- Fonts ---------------------- */
@font-face {
  font-display: swap;
  font-family: kimperly-kg;
  src: url(../source/fonts:icons/kimberly-geswein_kg-onlyhope/KGOnlyHope.ttf);
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-family: chubby;
  src: url(../source/fonts:icons/chubby-dotty/ChubbyDotty.ttf);
}

/* ------------- Text-Positions ---------------------- */
.text-center {
  text-align: center !important;
}

/* ------------- Margin ---------------------- */
$margin-bottom-big: 50rem;
$margin-top-big: 15rem;

/* ------------- Text-Design ---------------------- */
$small: 1rem;
$regular: 1.8rem;
$medium: 2.2rem;
$big: 3.2rem;
$megabig: 4.8rem;
$megabigxxl: 5.6rem;

.header--h1 {
  font-family: kimperly-kg, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3rem;
  font-size: 10rem;
  line-height: 1;
  @include respond(tab-land-small) {
    font-size: 7rem;
  }
  @include respond(IPadAir) {
    font-size: 5rem;
  }
  @include respond(SamsungGalaxyTab2) {
    letter-spacing: 2rem;
  }
  @include respond(AmazonKindle7) {
    font-size: 4rem;
    letter-spacing: 1.6rem;
  }

  @include respond(IPhone5) {
    font-size: 3rem;
  }
}
.kimberli-font {
  font-family: kimperly-kg, sans-serif !important;
}
.header--h2__big {
  font-family: kimperly-kg, sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 1.1rem;
  margin-bottom: 5rem;
  line-height: 1.5;
  @include respond(tab-land-small) {
    font-size: 2.6rem;
  }
  @include respond(IPadAir) {
    letter-spacing: 0.8rem;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }
  @include respond(SamsungGalaxyTab2) {
    letter-spacing: 0.7rem;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  @include respond(AmazonKindle7) {
    letter-spacing: 0.6rem;
    font-size: 1.6rem;
  }
  @include respond(SamsungS8) {
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
  }

  @include respond(IPhone5) {
    font-size: 1.4rem;
  }
}

.header--h2 {
  font-family: "Lato", san-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  margin-bottom: 3rem;
  margin-top: 1rem;

  &--aboutus {
    margin: 0;
  }
}

.header--h3 {
  font-weight: 400;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-bottom: 1.5rem;

  @include respond(SamsungGalaxyTab2) {
    margin-bottom: 1rem;
  }
}
.header--h5 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;

  &--small {
    letter-spacing: 0.5rem;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.p-last {
  @include respond(IpadPro12) {
    margin-bottom: 0 !important;
  }
}

.paragraph-regular {
  font-family: "Lato", san-serif !important;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  &--tel {
    list-style: none;
    text-decoration: none;
    color: inherit;
  }
  &__copy {
    font-size: 1.2rem;
    line-height: 1.3;
    margin-left: 1rem;
    margin-right: 1rem;
    letter-spacing: 0.3rem;
  }

  &__small {
    font-size: 1.6rem;
  }
}

/* ------------- Buttons ---------------------- */

//banner-buttons
.banner-btn-container {
  display: flex;
}
.banner-btn {
  font-family: "Lato", san-serif;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  padding: 2.5rem 3.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.5px solid rgba(58, 57, 57, 0.397);
  background-color: transparent;
  color: var(--secondary-color--dark);
  box-shadow: 0.3em 0.3em 0 0 var(--color8), inset 0.3em 0.3em 0 0 var(--color5);
  border-radius: 5px;
  z-index: 1000;
  transition: all 1s;

  &:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5), inset 6em 5em 0 0 var(--color5);
    color: var(--tertiary-color);
  }
  &--contact {
    font-size: 1.4rem !important;
    padding: 1.3rem 2.3rem !important;
    border-radius: 5px;
    background-color: transparent;
    color: var(--secondary-color--dark);
    box-shadow: 0.3em 0.3em 0 0 var(--color8),
      inset 0.3em 0.3em 0 0 var(--color1) !important;

    &:hover {
      color: var(--secondary-color--dark) !important;
      box-shadow: 0 0 0 0 var(--color8), inset 6em 3.5em 0 0 var(--color1) !important;
    }
  }

  @include respond(tab-land-small) {
    font-size: 1.2rem;
    padding: 2rem 2rem;
  }
  @include respond(IPadAir) {
    padding: 1.6rem 1.6rem;
  }
  @include respond(SamsungGalaxyTab2) {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    padding: 1.5rem 1.5rem;
    border-radius: 2.5px;
  }
  @include respond(SamsungS8) {
    border-radius: 1.2px;
    padding: 1.1rem 1.1rem;
    letter-spacing: 0.2rem;
  }
}

//text-button
.btn-text:visited {
  background-image: linear-gradient(
    60deg,
    #5f86f2,
    #a65ff2,
    #f25fd0,
    #f25f61,
    #ceac50,
    #93d053,
    #4bc367,
    #4fc4c2
  );
  -webkit-background-clip: text;
  color: #0000;
}

.btn-text:link,
.btn-text:visited {
  transition: all 0.5s;
  font-size: 2.6rem;
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem;
  color: var(--secondary-color--dark);

  @include respond(IPhone5) {
    font-size: 1rem;
  }
}
.btn-text {
  background-image: linear-gradient(
    60deg,
    #5f86f2,
    #a65ff2,
    #f25fd0,
    #f25f61,
    #ceac50,
    #93d053,
    #4bc367,
    #4fc4c2
  );
  -webkit-background-clip: text;
  color: #0000;

  &--infos {
    font-family: inherit;
    text-transform: uppercase;
    border: 0.2px solid rgba(58, 57, 57, 0.397);
    font-size: 1.6rem !important;
    padding: 1.3rem 2.3rem !important;
    border-radius: 5px;
    box-shadow: rgba(184, 184, 186, 0.313) 0px 3px 10px 0px;
  }
}
.btn-text:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 66%, 60%),
    hsl(134, 58%, 59%),
    hsl(179, 50%, 53%)
  );
  -webkit-background-clip: text;
  color: transparent;
}

// Social media buttons
.social-buttons {
  margin: 0 auto;
  grid-column: 1/-1;
  list-style: none;
  display: flex;
  align-self: center;

  &--infos {
    justify-content: center;
  }

  &--header {
    justify-content: flex-end;
    margin-right: 2.5rem;

    & li a {
      border: none !important;
    }
    & li {
      margin-left: 0 !important;
    }
  }

  &--nav {
    justify-content: center;
  }

  & li {
    display: flex;
    width: auto;
    justify-content: center;
    margin-left: 1rem;
    transition: all 0.5s;
  }

  & li:hover {
    transform: scale(1.2);
  }
  & li :first-child {
    margin-left: 0;
  }

  & li a {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-content: center;
    padding: 1rem;
    border-radius: 50%;
    border: 0.5px solid rgba(49, 47, 47, 0.238);
    background-color: white;
    fill: var(--secondary-color--dark);
    color: vr(--secondary-color--dark);
  }
}
.social-icons {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 3rem;
  height: 3rem;
  fill: var(--secondary-color--dark);
  color: vr(--secondary-color--dark);
}
.social-icons path {
  display: flex;
  align-self: center;
  justify-self: center;
}
