/* ----------------------- About-Us ------------------------- */

.aboutus {
  height: auto;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 !important;

  &-slide {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: 80rem;
    max-width: 100%;
    background-color: white;

    @include respond(IpadPro12) {
      height: 110rem;
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 100%;
  position: relative;

  @include respond(IpadPro12) {
    height: 80rem;
  }

  &-btn img {
    transition: all 0.2s;
    max-width: 5rem;
    max-height: 5rem;
  }

  &-btn img:hover {
    transform: scale(1.2);
  }

  &-btn {
    position: absolute;
    display: flex;
    top: 47%;
    z-index: 1000;
    cursor: pointer;

    &--left {
      left: 10%;
    }

    &--right {
      right: 10%;
    }
  }

  &-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0%;
  }
  &-dot {
    border-radius: 1px;
    height: 1rem;
    width: 1rem;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid rgba(97, 92, 92, 0.397);

    &__active {
      background-color: rgba(97, 92, 92, 0.397);
    }
  }
}

.component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  height: 90%;
  width: 80%;
  z-index: 50;
  overflow: hidden;
  margin: 0 auto;
  @include respond(IpadPro12) {
    width: 90%;
  }
}

.component-content {
  display: grid;
  overflow: hidden;
  max-width: 100%;
  height: 37rem;
  margin: 0 auto;
  grid-template-columns: 35% 65%;
  position: absolute;
  margin: 0 auto;
  transition: all 0.3s;

  @include respond(IpadPro12) {
    grid-template-columns: 1fr;
    grid-template-rows: 43% 57%;
    height: 100%;
  }
}

.components {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  display: grid;
  background-color: var(--white);
  overflow: hidden;
  width: 70%;
  height: 37rem;
  margin: 0 auto;
  grid-template-columns: 30% 70%;
  position: absolute;
  margin: 0 auto;

  @include respond(IpadPro12) {
    height: 90%;
    width: 50%;
  }
}
.component-left {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;

  & div {
    height: 100%;
    width: 100%;
    display: grid;
  }

  &--photo {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    max-height: 40rem;

    @include respond(IpadPro12) {
      max-height: 32rem;
    }
  }
}

.component-right {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-content: flex-end;

  @include respond(IpadPro12) {
    text-align: center;
  }

  &--text {
    margin: 0;
  }
  &--name {
    margin-top: 2rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  &--position {
    margin: 0;
    color: rgb(66, 66, 66);
  }
}
