/* --------------------------Contact form ----------------------------- */
.contact {
  font-family: "Lato", san-serif;
  background-color: var(--secondary-color--light);
  flex-direction: column;
  height: auto;
  padding-bottom: 5rem;
  justify-content: center;
  display: flex;

  &__container {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    color: var(--secondary-color--dark);
    width: auto;
  }
}
.hidden {
  display: none;
}
.contact-helper {
  padding-top: 5rem;
}
.contact-helper--button {
  font-family: inherit;
}
.contact-header {
  text-align: center;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.5rem;
}
.helper-tasks--first {
  padding-bottom: 2rem;
}

.contact-helper--question {
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-family: eb-garamod;
  color: var(--secondary-color--dark);
  font-family: inherit;

  h3 {
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: 0.5rem;
    padding-bottom: 1rem;
  }
  h4 {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
  justify-items: center;
  width: 100%;
  @include respond(IpadPro12) {
    grid-gap: 1rem;
  }

  @include respond(IPhone12) {
    grid-template-columns: 1fr;
  }
  &__form {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 3rem;
  }
  &__contacte {
    font-family: "Lato", san-serif;

    display: flex;
    flex-direction: column;
    width: 100%;

    @include respond(IPhone12) {
      padding: 0.5rem;
      align-items: center;
      text-align: center;
    }
  }
}
.row__form--rigths {
  width: 100%;
  grid-column: 1/-1;
  padding-left: 4rem;
  padding-right: 3rem;
}
.contacte__link {
  font-family: "Lato", san-serif;

  text-decoration: none;
  color: inherit;
  &:link,
  &:visited {
    transition: all 0.2s;
  }
  &:hover {
    filter: brightness(1.3);
  }
}

#my-form {
  font-family: "Lato", san-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.form {
  font-family: "Lato", san-serif;
  &__control {
    height: 4rem;
    font-family: "Lato", san-serif;
    letter-spacing: 0.4rem;
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--tertiary-color);
    background-clip: padding-box;
    border: 1px solid rgba(97, 92, 92, 0.397);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.7s;
    font-size: 1.3rem;
    @include respond(AmazonKindle7) {
      height: 2.3em;
      font-size: 1.2rem;
      border-radius: 3px;
    }
    &::placeholder {
      color: rgba(78, 77, 77, 0.601) !important;
      align-items: center;
      font-family: "Lato", san-serif;

      padding-left: 1rem;
    }
  }
}

input[type="date" i] {
  color: rgba(78, 77, 77, 0.601) !important;
  align-items: center;
  font-family: "Lato", san-serif;
  padding-left: 2rem;
}

#message {
  height: 18rem;
}
.option {
  height: 4rem;
  border-radius: 5px;
  border: 1px solid rgba(97, 92, 92, 0.397);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--tertiary-color);
  background-clip: padding-box;
  font-family: "Lato", san-serif;
  letter-spacing: 0.4rem;
  display: block;
  transition: all 0.7s;
  font-size: 1.3rem;
  color: rgba(78, 77, 77, 0.601) !important;
  align-items: center;

  padding-left: 2rem;
  @include respond(AmazonKindle7) {
    height: 2.3rem;
    font-size: 1.2rem;
    border-radius: 3px;
  }
}

.option:focus {
  outline: none;
}

.form-option {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  & label {
    font-family: "Lato", san-serif;
    line-height: 1;
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }
}

.form-check {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  justify-content: flex-start;
  padding-bottom: 1rem;

  & p {
    margin-left: 1rem;
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
  }

  &-toggle::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
    transform: scale(0);
    transition: 0.4s transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--secondary-color--dark);
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &-toggle:checked::before {
    transform: scale(1.5);
  }

  &-toggle {
    align-self: center;
    appearance: none;
    margin-left: 0.2rem;
    font: inherit;
    color: currentColor;
    border: 1px solid rgba(97, 92, 92, 0.397);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    width: 1.8rem;
    height: 1.8rem;
    display: grid;
    place-content: center;
    padding-left: 0;
    @include respond(AmazonKindle8) {
      border-radius: 2.5px;
    }
  }

  &-btn {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}
.form__control:focus {
  border-bottom: 4px solid var(--color6);
  outline: none;
  padding-left: 2rem;
  transition: ease 1s;
}

.form__control:focus:invalid {
  border-bottom: 4px solid var(--color4);
  transition: ease 1s;
}

.form__label {
  opacity: 0;
  display: none;
  transition: all 3s;
}

label {
  cursor: default;
}

.contacts {
  width: auto;
  font-family: inherit;
  margin: 0 auto;
  font-weight: 300;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-template-rows: 1fr;
  justify-items: center;
  padding-top: 4rem;

  @include respond(IPhone12) {
    grid-gap: 0.5rem;
  }

  &--adresse__header {
    text-transform: uppercase;
    color: white;
    font-size: 1.8rem;
    @include respond(IPhone12) {
      font-size: 1.4rem;
    }
  }
  &--nav-items {
    list-style: none;

    & li a {
      text-decoration: none;
      font-family: "Lato", san-serif;
      text-transform: uppercase;
      font-size: 1.7rem;
      color: white;
      font-weight: 700;

      @include respond(IPhone12) {
        font-size: 1.4rem;
      }
    }
  }

  & svg {
    fill: white;
    width: 2rem;
    height: 2rem;

    @include respond(SamsungGalaxyTab3) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &--paragraph-regular {
    font-family: "Lato", san-serif;
    font-size: 1.7rem;
    color: white;
    font-weight: 700;
    @include respond(IPhone12) {
      font-size: 1.4rem;
    }

    & a {
      text-decoration: none;
      color: white;
    }
  }
  &-rows {
    width: 90%;
    display: grid;
    grid-auto-rows: 20% 80%;
    grid-gap: 1rem;
  }
  &--list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
  }
}
.form__group {
  display: flex;
  flex-direction: column;
  height: 70%;
}
.text-white {
  display: flex;
  align-self: center;
  margin-right: 1rem;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#status {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: "Lato", san-serif;
  font-size: 1.2rem;
}

hr {
  height: 1px;
  background: white;
  border-radius: 5px;
  border: none;
}

.helpers-tasks {
  & .paragraph-regular {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }
}
.verbindlich {
  padding-top: 2rem;
}
.toggle-verbindlich {
  width: 2.5rem;
  height: 2.1rem;
}

iframe {
  overflow-clip-margin: content-box !important;
  border: none;
  overflow: clip !important;
  height: auto;
  width: 100%;
  overflow: hidden;
  scroll-behavior: none;
}
.paragraph-regular--rights {
  padding-top: 2rem;
}
