/* -------------------------- Footer -------------------------------------- */
.footer {
  background-color: var(--white);
  align-self: center;
  height: 10rem !important;

  @include respond(IPhone5) {
    padding: 2rem;
  }

  &__container {
    transition: transform 1s;
    opacity: 1;
    justify-content: center;
    height: 100%;
    align-items: center;

    & > * {
      display: flex;
    }
  }

  &__love {
    align-self: center;
    height: 2rem;
    width: 2rem;
    margin-right: 0.7rem;
    fill: var(--primary-color);
    color: var(--secondary-color--dark);
    @include respond(phone) {
      height: 1.3rem;
      width: 1.3rem;
    }
    @include respond(phonexs) {
      height: 1.2rem;
      width: 1.2rem;
    }
    @include respond(smallest) {
      height: 1rem;
      width: 1rem;
    }
  }

  & a {
    color: var(--secondary-color--dark);
    text-decoration: none;
    transition: all 1s;
  }
  & a:hover {
    transform: scale(1.1);
  }
}
