/* ------------------------  Gallerie -------------------- */

.gallery {
  margin-top: 5rem;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  height: 75rem;
  @include respond(IpadPro12) {
    max-height: 60rem;
  }
  @include respond(IPhone12) {
    max-height: 50rem;
    width: 98%;
  }
}

.gallery__container {
  display: flex;
  position: relative;
  width: 80%;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid rgba(97, 92, 92, 0.397);
  border-radius: 5px;

  overflow: hidden;

  @include respond(pc-small) {
    width: 90%;
  }
  @include respond(MacBookAir) {
    width: 100%;
  }
}

.main-image-section {
  width: 80%;
  height: 80%;
}

.main-view {
  display: grid;
  width: 100%;
  height: 90rem;
  object-fit: cover;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  @include respond(IpadPro12) {
    height: 70rem;
  }
  @include respond(IPhone5) {
    height: 60rem;
  }
}

.caption-container {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100px;
  bottom: -100px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.main-image-section:hover .caption-container {
  bottom: 0;
  opacity: 1;
}

#caption {
  font-size: 42px;
  color: #fff;
  padding: 10px;
}

#info {
  padding: 0 10px;
  color: #ccc;
}

.thumbnails {
  height: 100%;
  width: 20%;
  padding-left: 3px;
  overflow-y: auto;
}

.thumbnails img {
  width: 100%;
  opacity: 0.7;
  cursor: pointer;
  object-fit: cover;

  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;

  @include respond(SamsungGalaxyTab2) {
    height: 15rem;
  }
  @include respond(IPhone8) {
    height: 10rem;
  }
}

.thumbnails img:hover {
  opacity: 1;
}

.thumbnails img:focus {
  opacity: 1;
}
