#impressum {
  display: flex;
  flex-direction: column;
}

.impressum {
  padding-top: 3rem;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;

  & ul,
  ol {
    margin-left: 3rem;
  }

  & a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
  & a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}
