/* ----------------------- Infos ------------------------- */

.infos {
  height: auto;
  width: 100%;
  align-items: center;
}

.border {
  box-shadow: rgba(108, 108, 111, 0.313) 0px 7px 29px 0px;
  height: auto;
  display: grid;
  border-radius: 5px;
  align-self: center;
  margin: 0 auto;
  justify-self: center;
  width: 90%;
  grid-template-columns: 1fr;
  padding: 1.2rem 0 1.2rem 0;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-position: 0 50%;
  animation: color-border 15s alternate infinite;
  z-index: 0;
  background-image: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );

  @keyframes color-border {
    50% {
      background-position: 100% 50%;
    }
  }

  @include respond(IPhone12) {
    width: 98%;
  }
}

.infos-content {
  text-align: center;
  border: 0.5px solid rgba(49, 47, 47, 0.238);
  align-self: center;
  justify-self: center;
  width: 98%;
  height: 99%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
  grid-gap: 1.5rem;
  padding: 5rem;
  flex-direction: column;
  background-color: #fff;
  align-self: center;

  @include respond(tab-land-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  @include respond(IpadPro12) {
    padding: 2rem;
    grid-gap: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 3rem;
  }
}

.infos-paragraph-highligted {
  margin: 0 !important;
}

.infos__container--center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;

  @include respond(tab-land-small) {
    padding-top: 0rem;
  }
  & .header--h2 {
    margin-bottom: 1rem;
  }
  & a {
    margin-top: 3rem;
    margin-bottom: 1rem;
    justify-self: center;
    align-self: center;
    width: 100% !important;
  }
  & h2 a {
    margin: 0 !important;
    padding: 0 !important;
  }
  & .paragraph-regular {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}
