/* ------------- Navigation ---------------------- */

.sticky {
  position: fixed;
  z-index: 20000;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  max-width: 100% !important;
}

.nav-main {
  box-shadow: rgba(78, 78, 86, 0.313) 0px 7px 29px 0px;
  background: var(--color3);
  transition: all 0.3s;
}
.nav {
  display: flex;
  margin: 0 auto;
  padding-top: 20%;
  height: 50vh;
  @media only screen and (max-height: 390px) {
    padding-top: 0;
  }
}
.nav-links {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  a {
    font-family: "Lato", san-serif;
    font-size: 3.5em;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
  }
}

.navigation__container {
  z-index: 20000;
  max-width: 210rem;
  height: 11rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0 1rem 3rem rgba(2, 2, 2, 0.063);
  @include respond(SamsungGalaxyTab3) {
    height: 9rem;
  }
  > * {
    width: 33.3vw;
  }
}
.navbar-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & a {
    display: flex;
  }
  & img {
    align-self: center;
    width: 13rem;
    height: 13rem;
    @include respond(SamsungGalaxyTab3) {
      width: 11rem;
      height: 11rem;
    }
  }
}

nav {
  position: relative;
  height: 100%;
  display: flex;
  justify-tracks: center;

  input[name="toggle-nav"],
  label[for="toggle-nav"] {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 35px;
    height: 35px;
    @include respond(SamsungGalaxyTab3) {
      width: 25px;
      height: 25px;
    }
    @include respond(AmazonKindle8) {
      width: 20px;
      height: 23px;
    }
  }

  input[name="toggle-nav"] {
    display: block;
    cursor: pointer;
    opacity: 0;
    z-index: 20002;
  }

  label[for="toggle-nav"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20001;
    @include respond(AmazonKindle8) {
      transform: translateY(-10%);
    }
    @include respond(IPhone8) {
      transform: translateY(-20%);
    }
  }
}
input[name="toggle-nav"]:checked {
  & ~ label[for="toggle-nav"] {
    top: 50%;
  }
}

.menu-icon {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--secondary-color--dark);
  transition: all 0.2s ease-out;

  @include respond(SamsungGalaxyTab3) {
    height: 2px;
  }

  &::before,
  &::after {
    position: absolute;
    @extend .menu-icon;
    content: "";
  }

  &::before {
    top: 7px;
  }

  &::after {
    bottom: 7px;
  }
}

input[name="toggle-nav"]:checked {
  & ~ .side-nav-panel {
    left: 0;
  }

  & + label[for="toggle-nav"] {
    .menu-icon {
      background-color: transparent;
      &::before,
      &::after {
        background-color: white;
      }

      &::before {
        top: 16px;
        transform: rotate(45deg);
        @include respond(SamsungGalaxyTab3) {
          top: 7px;
        }

        @include respond(AmazonKindle8) {
          top: 5px;
        }
      }

      &::after {
        bottom: 16px;
        transform: rotate(-45deg);
      }
    }
  }
}

.side-nav-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 50vw;
  max-width: 380px;
  height: 100vh;
  padding-top: 85px;
  box-shadow: rgba(78, 78, 86, 0.313) 0px 7px 29px 0px;
  background: var(--color3);
  transition: 0.3s left;
}

.top-nav {
  max-height: 50vh;
  overflow-y: auto;
  display: grid;
  grid-gap: 2rem;
  @media only screen and (max-height: 390px) {
    grid-gap: 0;
  }
  @media (max-height: 540px) {
    max-height: 40vh;
  }
}
.nav-item {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
  justify-self: center;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  @media only screen and (max-height: 390px) {
    font-size: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
.nav-item::after {
  position: absolute;
  display: inline-block;
  content: "";
  text-decoration: none;
  left: 0;
  width: 0%;
  bottom: -5px;
  transition: 0.8s;
  border-bottom: 3px dashed var(--color8);

  @include respond(SamsungGalaxyTab2) {
    border-bottom: 2px dashed var(--color8);
  }
  @include respond(SamsungS8) {
    border-bottom: 1px dashed var(--color8);
    bottom: -3px;
  }
}

.nav-item:hover:after {
  width: 100%;
}

.social-nav {
  &__header {
    display: flex;
  }
  .nav-buttons {
    margin: 0 !important;
    justify-content: center !important;
  }
  &__aside {
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 2em;
    border-top: 1px solid white;
  }

  .fab,
  .far {
    font-size: 1.375em;
    color: white;
    margin: 0 6px;
  }
}
