/* ----------------------- Programms ------------------------- */

.programms {
  font-family: "Lato", san-serif;
  height: auto;
  background-color: var(--white);
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-items: center;

  &__container {
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;

    @include respond(IPhone5) {
      padding: 0 !important;
      margin: 0 !important;
      width: 100%;
    }
  }

  &--text-area {
    width: 80%;
    padding: 5rem;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    justify-items: center;

    @include respond(MacBookAir) {
      width: 100%;
    }

    & .paragraph-regular {
      width: 90%;
      align-self: center;
    }

    & a {
      @include respond(IPhone5) {
        font-size: 1.8rem !important;
      }
    }
  }
}
